body {
    width: 590px; /* Needs to be bigger than 576px so Bootstrap doesn't believe we're on mobile. */
    padding: 5px;
}

body, wrapper {
    min-height: 50vh;
}
 
main {
    flex: 1;
}